<footer class="footer text-muted bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block">&copy; <%= Date.today.year %> My App</small>
      </div>
    </div>
  </div>
</footer>
